.gray-box {
    background-color: rgb(71, 68, 68); 
    color: white; 
    padding: 20px; 
    border-radius: 5px; 
    margin: 20px auto; 
    text-align: center; 
}
.sender {
    display: flex; 
    justify-content: space-between; 
    align-items: center; 
    background-color: gray;
    inline-size: 20%;
    color: white;
    padding: 10px; 
    border-radius: 3px;
}
.lasttext {
    display: flex; 
    justify-content: flex-end; 
    align-items: center; 
    background-color: blue;
    inline-size: 10%; 
    color: white;
    padding: 10px; 
    border-radius: 3px;
    margin-left: auto; 
}

p {
    margin: 0; 
    color: white; 
}

.reciever {
    display: flex; 
    justify-content: flex-end; 
    align-items: center; 
    padding: 10px; 
    width: 100%;
}
a {

    text-decoration: none;
    color: transparent;
    padding: 5px; 
    border-radius: 3px; 
}

a:hover {  
    display: flex; 
    justify-content: flex-end; 
    align-items: center; 
    background-color: lightblue;
    inline-size: 20%; 
    color: white;
    padding: 10px; 
    border-radius: 3px;
    margin-left: auto; 

    
}
